#m-member > #cards_area {
  width: 100%;
  margin-bottom: 10px;
}

#cards_area > li {
  height: 100px;
  background-color: #e9e9ea;
  border-bottom: 1px solid #dadbdc;
  color: white;
}

li > .card_shape {
  position: relative;
  top: 10px;
  width: 90%;
  margin: 0 auto;
  height: 90px;
}

#cards_area > li:first-child {
  height: 60px;
}

#cards_area > li:first-child > .card_shape {
  top: -30px;
}

.card_shape > div {
  padding-left: 5px;
}

.card_shape > .top_half {
  height: 30px;
  line-height: 30px;
  border-radius: 6px 6px 0 0;
}

.card_shape > .bottom_half {
  position: relative;
  height: 60px;
}

.card_recharge > .top_half {
  background-color: #d7c4a4;
}

.card_recharge > .bottom_half {
  background-color: #c1a57d;
}

.card_record > .top_half {
  background-color: #94c6d1;
}

.card_record > .bottom_half {
  background-color: #6da8ba;
}

.card_time > .top_half {
  background-color: #cbabdc;
}

.card_time > .bottom_half {
  background-color: #af85c7;
}

.card_shape .card_no {
  float: right;
  padding-right: 5px;
}

.card_shape .card_money {
  position: absolute;
  bottom: 5px;
}

.card_shape .card_expired {
  position: absolute;
  right: 5px;
  bottom: 5px;
}