#content {
  background-color: #e9e9ea;
}
#m-member {
  height: inherit;
  background: #e9e9ea;
  min-height: 100%;
  box-sizing: border-box;
}
#m-member > #header {
  position: relative;
}
#header > img {
  display: block;
  width: 100%;
}
#header > div {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 40px;
  line-height: 40px;
}
#m-member .item {
  margin: 0 10px 10px 10px;
  background-color: white;
  color: #ffffff;
  border: 1px solid #dadbdc;
  border-radius: 6px;
}
.item > .title {
  position: relative;
  height: 40px;
  line-height: 40px;
  padding-left: 10px;
  border-bottom: 1px solid #e9e9ea;
  font-size: 16px;
  color: #000000;
}
.item > .title > img {
  display: inline-block;
  vertical-align: middle;
  height: 24px;
}
.item > .title > span {
  display: inline-block;
  vertical-align: middle;
}
.item .list {
  padding: 0 10px;
}
.item .list li {
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #e9e9ea;
}
.item .list li:last-child {
  border: none;
}
.deposit .used_count {
  color: #f37686;
}
.bill_item {
  color: #000000;
}
.bill_time > img {
  position: relative;
  top: 1px;
  height: 14px;
}
.bill_time > span {
  font-weight: bold;
  padding-left: .5rem;
}
.bill_item > div {
  height: 26px;
  line-height: 26px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.bill_value {
  color: #434040;
}
