#m-member {
  background: lightgray;
}

#m-member .item {
  background: white;
  margin-bottom: 10px;
}

.item .title {
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.item .list {
  padding: 0 10px;
}

.item .list li {
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}

.item .list li:last-child {
  border: none;
}

