#m-member {
  height: inherit;
  background: #e9e9ea;
}
#m-member .item {
  background: white;
  margin-bottom: 10px;
}
.item .title {
  padding: 10px;
  border-bottom: 1px solid #e9e9ea;
}
.item .list {
  padding: 0 10px;
}
.item .list li {
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #e9e9ea;
}
.item .list li:last-child {
  border: none;
}
