#m-member {
  height: inherit;
  background: #e9e9ea;
  min-height: 100%;
  box-sizing: border-box;
}
#m-member > #cards_area {
  position: relative;
}
#cards_area > img {
  width: 100%;
}
#cards_area > #my_name {
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 40px;
  line-height: 40px;
}
#cards_area > #card_list {
  position: absolute;
  bottom: 36px;
  width: 100%;
  overflow: scroll;
  white-space: nowrap;
  box-sizing: border-box;
  padding-left: 345px;
}
#card_list > ul > li.card {
  position: relative;
  display: inline-block;
  width: 50%;
  padding-bottom: 33%;
  height: 0;
  background-size: cover !important;
  vertical-align: top;
  color: white;
  margin-right: 20px;
}
#card_list > ul > li.cardtype_recharge {
  background: url("/resource/cardtype_recharge.png") no-repeat;
}
#card_list > ul > li.cardtype_record {
  background: url("/resource/cardtype_record.png") no-repeat;
}
#card_list > ul > li.cardtype_year {
  background: url("/resource/cardtype_year.png") no-repeat;
}
li.card > .header {
  position: absolute;
  left: 20px;
  top: 10px;
}
.header > .card_name {
  font-size: 1.5rem;
}
li.card > .money {
  position: absolute;
  bottom: 130px;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}
li.card > .expired_time {
  position: absolute;
  left: 20px;
  bottom: 40px;
}
li.card_shape {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
li.card_shape > .left_half {
  position: relative;
  width: 70%;
  height: 120px;
  background-color: #fabdc5;
  border-radius: 5px 0 0 5px;
}
li.card_shape > .right_half {
  position: absolute;
  top: 10px;
  right: 0;
  width: 30%;
  height: 120px;
  background-color: #f37686;
  border-radius: 0 5px 5px 0;
}
.left_half > .card_name {
  font-size: 1.5rem;
  padding: 10px 0 0 10px;
}
.left_half > .expired_time {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
#m-member .item {
  background: white;
  margin: 10px 0;
  color: #ffffff;
}
.item > .title {
  position: relative;
  height: 45px;
  line-height: 45px;
  padding-left: 10px;
  border-bottom: 1px solid #e9e9ea;
  background-color: #f8f8f9;
  font-size: 16px;
  color: #000000;
}
.item > .title > img {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.item > .title > span {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.item .list {
  padding: 0 10px;
}
.item .list li {
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #e9e9ea;
}
.item .list li:last-child {
  border: none;
}
.deposit .used_count {
  color: #f37686;
}
.used_count > .used_total {
  font-size: 1.5rem;
}
.bill_item {
  color: #000000;
}
.bill_time > img {
  display: inline-block;
  height: 14px;
  vertical-align: middle;
}
.bill_time > span {
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  padding-left: .5rem;
}
.bill_item > div {
  padding: 10px 0 10px 1rem;
}
.bill_value {
  color: #434040;
}
