@import "../../../resource/css/constant.less";

#m-member {
  height: inherit;
  background: @backgroundColor;
  border: 0.5*@baseSpace solid @backgroundColor;
  min-height: 100%;
  box-sizing: border-box;
}

#m-member .item {
  background: white;
  margin-bottom: @baseSpace;
}

.item .title {
  height: 4.5*@baseSpace;
  line-height: 4.5*@baseSpace;
  padding-left: @baseSpace;
  border-bottom: 1px solid @backgroundColor;
  background-color: #c7c7ca;
  color: #ffffff;
  font-size: 1.6*@baseSpace;
}

.item .list {
  padding: 0 @baseSpace;
}

.item .list li {
  overflow: hidden;
  padding: @baseSpace 0;
  border-bottom: 1px solid @backgroundColor;
}

.item .list li:last-child {
  border: none;
}

.panel {
  height: auto;
  overflow: hidden;
  border-bottom: 1px solid #d0d0ce;
}

.panel-head {
  background-color: #f6f6fa;
  height: 4*@baseSpace;
  line-height: 4*@baseSpace;
  color: #f97583;
  padding-left: @baseSpace;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.panel-head:active {
  background-color: #eae6e3;
}

.panel-head > * {
  vertical-align: middle;
}

.panel-body {
  height: auto;
  display: none;
}

.expand + .panel-body {
  display: block;
}

.bill-items {
  padding: @baseSpace;
  padding-top: 0px;
}

.bill-item {
  padding: @baseSpace 0px;
  border-bottom: 1px solid #d1d0ce;
}

.bill-item > div {
  margin-top: 0.5*@baseSpace;
}

.bill-item div > *:first-child {
  color: #a9a9a7;
}

.bill-item:last-child {
  padding-top: 0.5*@baseSpace;
  padding-bottom: 0px;
  border: none;
}

.border-bottom {
  border-bottom: 1px solid #d0d0ce;
}