@import "../../../resource/css/constant.less";

#m-member {
  height: inherit;
  background: @backgroundColor;
}

#m-member .item {
  background: white;
  margin-bottom: @baseSpace;
}

.item .title {
  padding: @baseSpace;
  border-bottom: 1px solid @backgroundColor;
}

.item .list {
  padding: 0 @baseSpace;
}

.item .list li {
  overflow: hidden;
  padding: @baseSpace 0;
  border-bottom: 1px solid @backgroundColor;
}

.item .list li:last-child {
  border: none;
}

