#m-festival-share {
  background-color: #e9e9ea;
  padding: 10px;
  min-height: 100%;
  box-sizing: border-box;
}
#festival-introduce {
  background-color: white;
  margin-bottom: 10px;
}
#festival-introduce > img {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}
#festival-introduce > .title {
  padding-left: 10px;
  font-size: 2rem;
}
#festival-introduce > .horizontal-line {
  height: 0;
  margin: 10px;
  border-bottom: 1px solid #e9e9ea;
}
#festival-introduce > .field {
  padding: 1rem 0 1rem 10px;
}
#share_tips {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#share_tips > img {
  float: right;
  margin-top: 10px;
}
#share_tips > div {
  width: 300px;
  margin: 150px auto;
  text-align: center;
  font-size: 28px;
}
.btn {
  width: 60%;
  margin: 0 auto;
  border: 10px solid white;
  border-top-width: 5px;
  border-bottom-width: 15px;
  box-sizing: border-box;
}
.btn > button {
  color: white;
  background: #f75169;
  border: none;
  width: 100%;
  height: 40px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn > button:active {
  background: #e2354f;
}
