body {
  background-color: #e9e9ea;
}
#m-festival-share {
  background-color: #e9e9ea;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  padding-bottom: 49px;
}
#festival-introduce {
  background-color: white;
  margin-bottom: 10px;
}
#festival-introduce > img {
  box-sizing: border-box;
  width: 100%;
  display: block;
}
#festival-introduce > .title {
  font-size: 1.2rem;
  background-color: #f75169;
  color: white;
  padding: 0.9rem;
}
#festival-introduce > .title > img {
  position: relative;
  top: 1px;
  width: 1.2rem;
}
#festival-introduce > .field {
  padding: 1rem 0 0 10px;
}
#festival-introduce > .field:last-child {
  padding-bottom: 1rem;
}
#input-area {
  background-color: white;
}
.btn {
  width: 60%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}
.btn > button {
  color: white;
  background: #f75169;
  border: none;
  width: 100%;
  height: 40px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.btn > button:active {
  background: #e2354f;
}
.btn > button:disabled {
  background-color: #c6c6c6;
}
#finish-msg {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}
#input-area > img {
  width: 100px;
  margin: 0 auto;
  display: block;
  padding-top: 1rem;
}
.back {
  display: block;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #e9e9ea;
  height: 48px;
  line-height: 48px;
  color: #f75169;
  background-color: white;
}
.back:active {
  background-color: #f0f0f1;
}
#share_tips {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
img#tips_arrow {
  float: right;
  width: 10%;
  margin: 1rem 2rem 0 0;
}
img#tips_text {
  display: block;
  clear: right;
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
}
