@import "../../../resource/css/constant.less";

body{
  background-color: @backgroundColor;
}

#m-festival-share {
  background-color: @backgroundColor;
  padding: @baseSpace;
  box-sizing: border-box;
  overflow: auto;
  padding-bottom: 49px;
}

#festival-introduce {
  background-color: white;
  margin-bottom: @baseSpace;
  position: relative;
}

#festival-introduce > img {
  box-sizing: border-box;
  width: 100%;
  display: block;
}

#festival-introduce > #header_slogan {
  position: absolute;
  top: 100px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 2rem;
}

#festival-introduce > .title {
  font-size: 1rem;
  background-color: #f75169;
  color: white;
  padding: 1rem;
}

#festival-introduce > .title > img {
  width: 1rem;
}

#festival-introduce > .field {
  padding: 1rem 0 0 @baseSpace;
}

#festival-introduce > .field:last-child {
  padding-bottom: 1rem;
}

#input-area{
  background-color: white;
}

.btn {
  width: 60%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

.btn > button {
  color: white;
  background: #f75169;
  border: none;
  width: 100%;
  height: 40px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn > button:active {
  background: #e2354f;
}

.btn > button:disabled {
  background-color: @backgroundColor;
}

#finish-msg {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}

#input-area > img {
  width: 100px;
  margin: 0 auto;
  display: block;
  padding-top: 1rem;
}

.back {
  display: block;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  border-top: 1px solid @backgroundColor;
  height: 48px;
  line-height: 48px;
  color: #f75169;
  background-color: white;
}

.back:active {
  background-color: #f0f0f1;
}

#share_tips{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#share_tips > img{
  display: block;
  width: 200px;
  float: right;
  margin: 1rem 2rem 0 0;
}