@import "../../../resource/css/constant.less";

#m-festival-done {
  background-color: @backgroundColor;
  padding: @baseSpace;
  min-height: 100%;
  box-sizing: border-box;
}

#get-present-success {
  background-color: white;
  margin-bottom: @baseSpace;
}

#header_pic > img {
  box-sizing: border-box;
  width: 100%;
  padding: @baseSpace;
}

#message_area {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: green;
  font-size: 2rem;
  padding: 1rem;
}

#message_area > img {
  width: 2rem;
}

.back {
  border-top: 1px solid @backgroundColor;
  text-align: center;
  height: 48px;
  line-height: 48px;
  color: #f75169;
}

.back:active {
  background-color: #f0f0f1;
}