body {
  background-color: #e9e9ea;
}
#m-festival-done {
  background-color: #e9e9ea;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
}
#wrapper {
  background-color: white;
  margin-bottom: 10px;
}
#wrapper > img {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
}
#message {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
}
#message > img {
  position: relative;
  top: 3px;
  width: 1.2rem;
}
#message > span {
  font-size: 1.5rem;
  color: #67b449;
  vertical-align: top;
}
.back {
  display: block;
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #e9e9ea;
  height: 48px;
  line-height: 48px;
  color: #f75169;
  background-color: white;
}
.back:active {
  background-color: #f0f0f1;
}
