@import "../../../resource/css/constant.less";

body{
  background-color: @backgroundColor;
}

#m-festival {
  padding: @baseSpace;
  min-height: 100%;
  box-sizing: border-box;
}

#empty-list-image{
  width: 80%;
  margin: 100px auto 1rem auto;
  text-align: center;
}

#empty-list-image > img {
  width: 150px;
  height: 150px;
}

#empty-list-msg{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: gray;
}

.festival-item {
  background-color: white;
  margin-bottom: @baseSpace;
  padding: 0 10px;
  border: 1px solid #dadbdc;
  border-radius: 6px;
}

.festival-item:active {
  background: #f0f0f1;
}

.festival-item:last-child {
  margin-bottom: 0;
}

.item-header > .title {
  padding: 1.2rem 0 1.2rem 0;
  font-size: 1.2rem;
}

.festival-item > div.img {
  box-sizing: border-box;
  width: 100%;
  height: 0;
  padding: 0 @baseSpace 50% @baseSpace;
  background-size: cover !important;
}

.festival-item > div.item-desc {
  padding: 1rem 0;
  color: gray;
}

.btn {
  width: 40%;
  margin: 0 auto;
  border: 10px solid white;
  border-top-width: 5px;
  border-bottom-width: 15px;
  box-sizing: border-box;
}

.btn > button {
  color: white;
  background: #f75169;
  border: none;
  width: 100%;
  height: 40px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn > button:active {
  background: #e2354f;
}