<%- Loader().js('/login/login.js').done(config) %>

<div class="col-xs-12">

    <form role="form">

        <div class="form-group">

            <input type="tel" class="form-control" id="input_phone" placeholder="输入手机号">
        </div>

        <button type="button" class="btn btn-default" id="btn_submit">登陆</button>
    </form>

</div>

<div class="hidden" id="enterprise_id"><%= enterprise_id %></div>

