<%- Loader().js('/m-login/login.js').css("/m-login/css/login.css").done(config) %>

<div id="m-login">
    <div class="form-area">

        <div class="h-4 lh-4 text-center border-bottom">
            会员登陆
        </div>

        <form class="width-full">

            <div class="input">
                <input type="tel" id="input_phone" placeholder="输入手机号">
            </div>

            <div class="input">
                <input type="text" id="code" placeholder="输入验证码">
            </div>

            <div class="btn">
                <button type="button" id="getSecurityCode">获取验证码</button>
            </div>

            <div class="btn">
                <button type="button" id="btn_submit">登陆</button>
            </div>
        </form>
    </div>
</div>

<div id="enterprise_id" style="display: none"><%= enterprise_id %></div>

