#m-selection > div#title {
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}

#m-selection > div.shop-item {
  width: 80%;
  margin: 0 auto 1rem;
  text-align: center;
  background-color: #f75169;
  height: 5rem;
  line-height: 5rem;
  color: white;
}

#m-selection > div.shop-item > a {
  text-decoration: none;
  color: inherit;
}