body {
  margin: 0;
  padding: 0;
}
#m-selection {
  background-color: #e9e9ea;
  min-height: 500px;
}
#m-selection > #title {
  width: 100%;
  text-align: center;
  background-color: #f75169;
  color: white;
  height: 49px;
  line-height: 49px;
}
#m-selection > .shop-item {
  display: block;
  margin: .5rem 0;
  background-color: white;
  text-decoration: none;
  color: inherit;
  position: relative;
  overflow: hidden;
}
#m-selection > .shop-item > .logo {
  box-sizing: border-box;
  padding: 10px 65% 10px 10px;
}
#m-selection > .shop-item > .logo > img {
  width: 100%;
}
#m-selection > .shop-item > .description {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 65%;
  box-sizing: border-box;
  padding: 10px;
}
#m-selection > .shop-item > .description > .name {
  box-sizing: border-box;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9ea;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#m-selection > .shop-item > .description > .inner {
  position: absolute;
  bottom: 10px;
  font-size: 1rem;
}
