<% if(env === "dev"){ %>

<%- Loader()
        .js('/m-festival/static/result.js')
        .css("/m-festival/static/css/result.css")
        .done(config) %>

<% }else{ %>

<%- Loader()
        .js('/m-festival/result.min.js')
        .css("/m-festival/css/result.min.css")
        .done(config) %>

<% } %>

<% if(type === "success"){ %>
    <div id="m-festival-done" class="success">
<% }else{ %>
    <div id="m-festival-done" class="repeat">
<% } %>

    <% if(type === "success"){ %>
        <img src="/resource/diamond.png">
        <div>已发送短信至您的手机，请凭短信到店消费。</div>
    <% }else{ %>
        <img src="/resource/present_got_duplicate.png">
        <div>您已经领取过一次了，看看别的吧。</div>
    <% } %>

</div>

<div id="follow">
    <div>想了解更多优惠活动，请点击</div>
    <a href="#">关注公众号</a>
</div>

<a id="back" class="back clear-fix">确定</a>