<%- Loader()
        .js('/m-festival/done.js')
        .css("/m-festival/css/done.css")
        .done(config) %>

<div id="m-festival-done">

    <div id="wrapper">

        <img src="../../../resource/present_got_success.jpg">

        <div id="message">
            <img src="../../../resource/duigou.png">
            <span id="msg_success">领取成功！</span>
        </div>
    </div>

</div>

<a id="back" class="back clear-fix">看看其它</a>