<% if(env === "dev"){ %>

<%- Loader()
        .js('/m-festival/static/done.js')
        .css("/m-festival/static/css/done.css")
        .done(config) %>

<% }else{ %>

<%- Loader()
        .js('/m-festival/done.min.js')
        .css("/m-festival/css/done.min.css")
        .done(config) %>

<% } %>

<div id="m-festival-done">

    <img src="/resource/diamond.png">
    <div>已发送短信至您的手机，请凭短信到店消费。</div>

</div>

<a id="back" class="back clear-fix">看看其它</a>