<%- Loader()
        .js('/m-festival/done.js')
        .css("/m-festival/css/done.css")
        .done(config) %>

<div id="m-festival-done">

    <div id="get-present-success">

        <div id="header_pic">
            <% if(duplicate === "false"){ %>
                <img src="../../../resource/present_got_success.png">
            <% }else{ %>
                <img src="../../../resource/present_got_duplicate.png">
            <% } %>
        </div>

        <div id="message_area">
            <% if(duplicate === "false"){ %>
                <img src="../../../resource/duigou.png">
                <span>领取成功</span>
            <% }else{ %>
                <span>您已经领取过一次了，看看别的吧</span>
            <% } %>
        </div>

    </div>

</div>

<a id="back" class="back clear-fix">
    <span class="fs-20"><</span>看看其它
</a>