<%- Loader()
        .css("/m-festival/css/festivals.css")
        .done(config) %>

<% if(festivals.length === 0){ %>

<div>
    暂时没有优惠活动
</div>

<% }else{ %>

<div id="festivals_area">

    <% for(var i = 0; i < festivals.length; i++) { %>

        <div class="festival">
            <div><%= festivals[i].title %></div>
            <div><%= festivals[i].desc %></div>
            <a href="getPresent?fid=<%= festivals[i].id %>">马上领取</a>
        </div>

    <% } %>

</div>

<% } %>
