<%- Loader()
        .js('/m-festival/gotAndShare.js')
        .css("/m-festival/css/gotAndShare.css")
        .done(config) %>

<div>

    您已成功领取优惠券，请再帮忙分享一下

    <div id="btn_share">分享到朋友圈</div>

    <div id="enterprise_id" style="display: none"><%= enterprise_id %></div>
    <div id="festival_id" style="display: none"><%= festival_id %></div>

    <div id="share_tips">
        教你怎么分享到朋友圈
    </div>

</div>