<div>

    <h1>活动的精彩文案在此</h1>
    <div><%= festival.title %></div>
    <div><%= festival.desc %></div>

    <div>----------------------------------</div>

    <form>
        <input type="tel" name="phone" placeholder="请输入手机号">
        <button type="button">马上领取</button>
    </form>

</div>