<%- Loader().css("/m-item/css/item.css").done(config) %>

<div id="item-detail">
    <div class="img" style="background: url('/svc/public/item-example.png') no-repeat">

    </div>

    <div class="name-price">
        <div class="fr color-red">￥<%= item.price %></div>
        <div><%= item.name %></div>
    </div>

    <div class="comment">
        <div class="fl color-gray">描述：</div>
        <div class="pl-5"><%= item.comment %></div>
    </div>

    <div id="back" class="back clear-fix">
        < 返回
    </div>
</div>

<script>
    $(function () {
        $("#back").on("click", function ($even) {
            window.history.back();
            $even.stopPropagation();
        });
    });
</script>