<%- Loader().js("/m-item/item.js").css("/m-item/css/item.css").done(config) %>

<div id="m-item">
    <ul class="item-list">
        <% for(var i = 0; i < 10; i++) { %>
        <li>
            <a href="#">
                <div class="item-img" style="background: url('/svc/public/item-example.png') no-repeat">
                </div>

                <div>渐变彩绘</div>
                <div class="color-red">￥118</div>
            </a>
        </li>
        <% } %>
    </ul>
</div>
