body {
  font-family: "Microsoft Yahei", sans-serif;
}
#m-shop {
  background-color: #e9e9ea;
  padding-bottom: 10px;
}
#m-shop .home-img {
  position: relative;
  width: 100%;
  background-color: white;
}
.home-img > .img {
  width: 100%;
  padding-bottom: 33%;
  background-size: cover !important;
}
.home-img > img {
  position: absolute;
  bottom: 10px;
  left: 20px;
  width: 80px;
  z-index: 1;
  border: 2px solid white;
}
.home-img > .store-name {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 120px;
  color: white;
  background-color: rgba(51, 9, 13, 0.3);
  font-size: 20px;
  height: 40px;
  line-height: 40px;
}
#m-shop .store {
  margin: 0;
  background: white;
  overflow: hidden;
}
.store > #base_info {
  position: relative;
}
#fields {
  padding-right: 120px;
}
#call_icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
}
#call_icon > a {
  margin: 10px;
  padding: 2rem;
  border-left: 1px solid #d0cfd0;
}
#call_icon img {
  width: 100%;
}
#fields > .field {
  height: 40px;
  line-height: 40px;
  padding-left: 1.5rem;
}
.field > .field_key {
  width: 5rem;
  color: #928d8d;
  float: left;
}
.field > .field_value {
  color: #434040;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#store_address {
  position: relative;
  height: 40px;
  line-height: 40px;
  padding-left: 1.5rem;
  border-top: 1px solid #d0cfd0;
}
#store_address > .addr_label {
  color: #928d8d;
}
#store_address > .addr_value {
  color: #434040;
}
#store_address > img {
  position: absolute;
  right: 1rem;
  top: 17px;
  width: 11px;
}
#mapDiv {
  margin: 10px 5px 0 5px;
}
#m-shop .preferential {
  margin: 0 5px;
}
.preferential > #pre_title {
  margin-top: 10px;
  padding-left: 1rem;
}
.preferential-list > li {
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #e9e9ea;
  overflow: hidden;
  padding: 5px;
}
.preferential-list > li:last-child {
  border-bottom: none;
}
.pre-img {
  width: 100%;
  padding-bottom: 50%;
  height: 0;
  background-size: cover;
}
.pre-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  color: white;
  background-color: rgba(51, 9, 13, 0.3);
}
.pre-name {
  font-size: 20px;
}
.pre-desc {
  font-size: 1rem;
  margin-top: 1rem;
}
#m-shop .item {
  margin: 10px 5px;
}
#item_title {
  margin-top: 10px;
  padding-left: 1rem;
}
.item-more a {
  padding: 1px 0 0 24px;
  height: 20px;
  line-height: 20px;
  position: relative;
  text-align: right;
  color: #f75169;
}
.item-more a:active {
  color: #ac142a;
}
.item-more a:active:before {
  background: url('../../../resource/right_more_active.png') 0 0;
  background-size: 18px 18px;
}
.item-more a:before {
  content: "";
  position: absolute;
  background: url('../../../resource/right_more.png') 0 0;
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  right: 32px;
  top: 2px;
}
.item-list {
  background: white;
}
.item-list > li {
  float: left;
  width: 50%;
  border: 5px solid #e9e9ea;
  box-sizing: border-box;
}
.item-list > li > a {
  border: 5px solid #ffffff;
  box-sizing: border-box;
}
.item-list > li > a:active {
  border-color: #f0f0f1;
}
.item-list .item-img {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover !important;
  margin-bottom: 10px;
}
.item-list > li div + div {
  width: 100%;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-list .item-comment {
  font-size: 12px;
  color: gray;
}
#hidden_area {
  display: none;
}
