#m-shop {
  background-color: #e9e9ea;
  padding-bottom: 10px;
}
#m-shop .home-img {
  position: relative;
  width: 100%;
  background-color: white;
}
.home-img .img {
  width: 100%;
  padding-bottom: 75%;
  margin-bottom: 10px;
  background-size: cover !important;
}
.home-img .store-name {
  position: absolute;
  right: 20px;
  bottom: 10px;
  font-size: 20px;
  color: white;
}
#m-shop .preferential {
  margin: 0 5px;
}
.preferential-list {
  border: 5px solid #ffffff;
}
.preferential-list > li > div:first-child {
  background-size: cover !important;
  width: 30%;
  padding-bottom: 22%;
}
.desc-vm-help {
  width: 0px;
  padding-bottom: 22%;
  display: inline-block;
  vertical-align: middle;
}
.preferential-list > li {
  background-color: #ffffff;
  line-height: 20px;
  text-align: center;
  border-bottom: 1px solid #e9e9ea;
}
.preferential-list > li:last-child {
  border-bottom: none;
}
.preferential-list > li:nth-child(odd) > div:first-child {
  float: left;
}
.preferential-list > li:nth-child(even) > div:first-child {
  float: right;
}
.preferential-list > li:nth-child(odd) > div:last-child > span:first-child {
  box-sizing: border-box;
  width: 70%;
  padding: 0px 10px;
}
.preferential-list > li:nth-child(even) > div:last-child > span:first-child {
  box-sizing: border-box;
  width: 70%;
  padding: 0px 10px;
}
#m-shop .item {
  margin: 10px 5px;
}
.item-more a {
  padding: 1px 0 0 24px;
  height: 20px;
  line-height: 20px;
  position: relative;
  text-align: right;
  color: #f75169;
}
.item-more a:active {
  color: #ac142a;
}
.item-more a:active:before {
  background: url('../../../resource/right_more_active.png') 0 0;
  background-size: 18px 18px;
}
.item-more a:before {
  content: "";
  position: absolute;
  background: url('../../../resource/right_more.png') 0 0;
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  right: 32px;
  top: 2px;
}
.item-list {
  background: white;
}
.item-list > li {
  float: left;
  width: 50%;
}
.item-list > li > a {
  border: 5px solid #ffffff;
  box-sizing: border-box;
}
.item-list > li > a:active {
  border-color: #f0f0f1;
}
.item-list .item-img {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover !important;
  margin-bottom: 10px;
}
.item-list > li div + div {
  width: 100%;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item-list .item-comment {
  font-size: 12px;
  color: gray;
}
#m-shop .store {
  margin: 10px 5px 0 5px;
  border: 10px solid #ffffff;
  background: white;
  overflow: hidden;
}
.store .store-img {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 10px;
}
.store .store-name {
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 10px;
  margin-left: 110px;
  border-bottom: 1px solid #e9e9ea;
}
.store > div + div {
  margin-bottom: 10px;
}
