#m-shop {
    background-color: lightgray;
    padding-bottom: 10px;
}

#m-shop .home-img {
    position: relative;
    width: 100%;
}

.home-img img {
    display: block;
    width: 100%;
}

.home-img span {
    position: absolute;
    right: 20px;
    bottom: 10px;
    font-size: 20px;
    color: white;
}

#m-shop .preferential {
    margin: 0 10px;
}

.preferential-list > li > div:first-child {
    width: 120px;
    height: 80px;
}

.preferential-list > li > div:last-child {
    height: 80px;
    background-color: #ffffff;
    line-height: 20px;
}

.preferential-list > li:nth-child(odd) > div:first-child {
    float: left;
}

.preferential-list > li:nth-child(even) > div:first-child {
    float: right;
}

.preferential-list > li:nth-child(odd) > div:last-child {
    padding-left: 130px;
    padding-right: 10px;
}

.preferential-list > li:nth-child(even) > div:last-child {
    padding-left: 10px;
    padding-right: 130px;
}

.item-more a {
    padding: 0 0 0 24px;
    height: 20px;
    position: relative;
    text-align: right;
    color: deeppink;
}

.item-more a:before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    border: 1px solid deeppink;
    border-radius: 50%;
    right: 36px;
    top: 0;
}

.item-more a:after {
    content: "";
    width: 9px;
    height: 9px;
    border-top: 1px solid deeppink;
    border-right: 1px solid deeppink;
    position: absolute;
    right: 38px;
    top: 3px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

.item-list {
    background: white;
}

.item-list > li {
    float: left;
    width: 50%;
    border: 10px solid white;
    box-sizing: border-box;
}

.item-list .item-img {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover !important;
}

.item-list > li div + div {
    width: 100%;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-list .item-name {
}

.item-list .item-comment {
    font-size: 12px;
    color: gray;
}

#m-shop .store {
    margin: 10px 10px 0 10px;
    border: 10px solid white;
    background: white;
    overflow: hidden;
}

.store .store-img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}

.store .store-name {
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 10px;
    margin-left: 110px;
    border-bottom: 1px solid lightgray;
}