* {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: inherit;
    display: block;
    text-decoration: none;
}

.m-1 {
    margin: 10px !important;
}

.p-1 {
    padding: 10px !important;
}

.mb-1 {
    margin-bottom: 10px !important;
}

.pl-5 {
    padding-left: 50px !important;
}

.h-4 {
    line-height: 40px;
}

.lh-4 {
    line-height: 40px;
}

.fl {
    float: left !important;
}

.fr {
    float: right !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.border-bottom {
    border-bottom: 1px solid lightgray;
}

.clear-fix {
    clear: both;
}

.text-center {
    text-align: center !important;
}

.color-gray {
    color: gray !important;
}

.color-white {
    color: white !important;
}

.color-red {
    color: red !important;
}

.none {
    display: none !important;
}

.width-full {
    width: 100% !important;
}

.height-full {
    height: 100% !important;
}

.vm-help {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.vm {
    vertical-align: middle !important;
}

.ofh {
    overflow: hidden !important;
}

.ofa {
    overflow: auto !important;
}

.block {
    display: block !important;
}

.inline-block {
    display: inline-block !important;
}

.pos-rel {
    position: relative !important;
}

.pos-abs {
    position: absolute !important;
}

