body {
  background-color: #e9e9ea;
}
#m-item {
  background-color: #e9e9ea;
}
#empty-list-image {
  width: 80%;
  margin: 100px auto 1rem auto;
  text-align: center;
}
#empty-list-image > img {
  width: 110px;
  height: 150px;
}
#empty-list-msg {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: gray;
}
.item-list {
  overflow: hidden;
  padding-bottom: 36px;
  border-bottom: 5px solid #e9e9ea;
}
.item-list li {
  float: left;
  width: 50%;
  border: 5px solid #e9e9ea;
  box-sizing: border-box;
  margin-bottom: -5px;
  background: white;
}
.item-list li a {
  border: 5px solid #ffffff;
  box-sizing: border-box;
}
.item-list li a:active {
  border-color: #f0f0f1;
}
.item-list li:nth-child(odd) {
  border-right-width: 2.5px;
}
.item-list li:nth-child(even) {
  border-left-width: 2.5px;
}
.item-list .item-img {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover !important;
  margin-bottom: 10px;
}
.item-list li div + div {
  width: 100%;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#m-item .more-item {
  position: fixed;
  bottom: 49px;
  box-sizing: border-box;
  padding: 10px 0;
  border: 1px solid #dadbdc;
  width: 100%;
  text-align: center;
  background: white;
}
