body {
  background-color: #e9e9ea;
}
#item-detail {
  overflow: auto;
  background: #e9e9ea;
}
#item-detail .img {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover !important;
  background-color: white !important;
}
#item-detail .name-price {
  background: white;
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid #e9e9ea;
}
#item-detail .comment {
  padding: 10px;
  overflow: hidden;
  background: white;
  border-bottom: 10px solid #e9e9ea;
  box-sizing: border-box;
}
.back {
  border-top: 1px solid #e9e9ea;
  text-align: center;
  height: 48px;
  line-height: 48px;
  color: #f75169;
  background-color: white;
}
.back:active {
  background-color: #f0f0f1;
}
