@import "../../../resource/css/constant.less";

#m-item {
  background: @backgroundColor;
}

.item-list {
  overflow: hidden;
  padding-bottom: @baseSpace;
}

.item-list li {
  float: left;
  width: 50%;
  border: @baseSpace solid @backgroundColor;
  box-sizing: border-box;
  margin-bottom: -@baseSpace;
  background: white;
}

.item-list li a {
  border: @baseSpace solid white;
  box-sizing: border-box;
}

.item-list li a:active {
  border-color: #f2f0ef;
}

.item-list li:nth-child(odd) {
  border-right-width: @baseSpace / 2;
}

.item-list li:nth-child(even) {
  border-left-width: @baseSpace / 2;
}

.item-list .item-img {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover !important;
  margin-bottom: @baseSpace;
}

.item-list li div + div {
  width: 100%;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#item-detail {
}

#item-detail .img {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover !important;
}

#item-detail .name-price {
  background: white;
  font-size: 20px;
  padding: @baseSpace 0;
  margin: 0 @baseSpace;
  border-bottom: 1px solid @backgroundColor;
}

#item-detail .comment {
  padding: @baseSpace;
  overflow: hidden;
}

#item-detail .back {
  border-top: 10px solid @backgroundColor;
  text-align: center;
  padding: @baseSpace;
  color: #f75169;
}

#item-detail .back:active {
  background-color: #f2f0ef;
}

#m-item .more-item {
  background: white;
  margin: 0 10px;
  padding: 10px 0;
  text-align: center;
}